<h2>Invoice</h2>
<div style="width: 1000px; height: 500px; display: flex; flex-direction: row; align-items: stretch;" >
  <div style="flex: 1;">
    <ag-grid-angular
      style="width: 100%; height: 100%;"
      class="ag-theme-quartz" 
      [rowData]=notes
      [columnDefs]=colDefs>
    </ag-grid-angular>
  </div>
  <div style="display: none;" id="checkout-section">
    <div id="dropin-container"></div>
    <button id="submit-button" class="button button--small button--green">Submit</button>
  </div>
</div>